[defaults]
# Archivo de inventario que Ansible usa por defecto
# sin necesidad de pasarlo con -i en cada comando
inventory = /home/ansible/ansible/inventory/hosts.ini
remote_user = ansible
private_key_file = /home/ansible/.ssh/id_ed25519

# No verifica la clave del host al conectar por primera vez
# Evita la pregunta interactiva "Are you sure you want to continue?"
host_key_checking = False

# No crea archivos .retry cuando un playbook falla
retry_files_enabled = False

[privilege_escalation]
# Usa sudo automáticamente para tareas que lo requieran
become = True
become_method = sudo
become_user = root
# No pide contraseña de sudo (el usuario ansible tiene NOPASSWD)
become_ask_pass = False
